<div class="pokdexContainer">
    <div class="pokedexTop">
        <button id="camera"></button>
        <div class="secondaryButtons">
            <button></button>
            <button></button>
            <button></button>
        </div>
    </div>
    <div class="pokedexCore">
    <div class="screen">
        <app-pokemon-list style="width: 100%; align-self: center;"></app-pokemon-list>
    </div>
    <div class="coreButtons"></div>
    </div>
    <h4 id="signature">MADE BY ALI</h4>
</div>
<app-pokemon-detail></app-pokemon-detail>
